<h2>Containers</h2>
<hr>
<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>VHost</th>
      <th>Image</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="container in lc.containers">
      <td><a class="btn btn-xs btn-default btn-block" ui-sref="container-info({id: container.ID})">{{container.Name}}</button></td>
      <td><a class="btn btn-xs btn-info" ng-href="//{{container.VHost}}" ng-show="container.VHost">{{container.VHost}}</a></td>
      <td>{{container.Image}}</td>
      <td>{{container.Status}}</td>
    </tr>
  </tbody>
</table>