<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>VHost</th>
      <th>Image</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="container in lc.containers">
      <td><a class="btn btn-xs btn-default btn-block" style="text-align: left;" ui-sref="containers.info({id: container.ID})">{{container.Name}}</button></td>
      <td><a class="btn btn-xs btn-info btn-block" style="text-align: left;" ng-href="//{{container.VHost}}" ng-show="container.VHost">{{container.VHost}}</a></td>
      <td><a class="btn btn-xs btn-default btn-block" style="text-align: left;" ui-sref="images.info({id: container.ImageID})">{{container.Image}}</a></td>
      <td>{{container.Status}}</td>
    </tr>
  </tbody>
</table>